@import '../../styles/mixins';

.home-meetup-list {
  font-size: 12px;

  thead {
    font-weight: bold;
    text-align: left;
    background: #333333;
    color: #ffffff;

    th {
      padding: 5px;
    }
  }

  tbody {
    tr:nth-child(even) {
      background: #eeeeee;
    }
    
    td {
      padding: 5px;
    }
  }
}
